@media (max-width: 600px) {
    .css-3krtj3-MuiPaper-root-MuiDataGrid-paper {
        min-width: 100% !important;
        max-width: 100% !important;
    }

    .css-1t5wrdm-MuiDataGrid-filterForm {
        flex-direction: column;
    }
}